    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap');
    *{
        padding: 0;
        margin: 0;
    }
    body{
        background: transparent;
        font-family: 'Segoe UI';
    }
    #checkAnswer{
        position: fixed;
        z-index: 99;
        right: 20px;
        top: 100px;
        color: #e0fbfc;
        text-decoration: none;
        background-color: #293241;
        padding: 15px;
        border-radius: 5px;
        font-size: small;
        display: none;
    }
    #result{
        position: fixed;
        right: 20px;
        top: 170px;
        padding: 15px;
        border-radius: 7px;
        background-color: #293241;
        color: #e0fbfc;
        display: none;
    }
    #grade{
        position: fixed;
        right: 20px;
        top: 240px;
        padding: 15px;
        border-radius: 7px;
        background-color: #293241;
        color: #e0fbfc;
        display: none;
        font-weight: lighter;
    }

    #message{
        display: none;
        padding: 6px;
        margin-left: 10px;
        background-color: #293241;
        color: #98c1d9;
        text-align: center;
        border-radius: 6px;
        margin-top: 5px;
        width: 80%;
        margin-bottom: -17px;
    }
    #reset{
        padding: 10px;
        border-radius: 5px;
        color: #e0fbfc;
        background-color: transparent;
        text-decoration: none;
        font-size: small;
        border: 2px solid #e0fbfc;
    }
    .formContainer{ 
        background-color:#98c1d9;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    h1{
        text-align: center;
        position: fixed;
        width: 100%;
        background-color: #293241;
        margin-top: 0;
        color: #e0fbfc;
        padding: 10px;
        
    }
    p{
        background-color: #293241;
        text-align: center;
        color: #e0fbfc;
        padding: 10px;
    }
    #form{
        margin-top: 60px;
        background-color:#3d5a80;
        padding: 30px;
        color: #e0fbfc;
        font-size: 16px;

    }
    .resultshow{
        background-color: #293241;
        margin-left: 10px;
        padding: 15px;
        color: #e0fbfc;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    @media (max-width:700px){
        form{
            margin-top: 90px;
        }
    }



